$dark-brown:                  #181513;
$text:                        #624738;
$orange:                      #E19C57;
$white:                       #ffffff;
$darker-brown:                #472D1C;
$grey-border:                 #E0E0E0;
$text-10:                       rgba($text, 0.1);
$text-20:                       rgba($text, 0.2);

$usp-bg:                        $white;
$usp-border:                    $grey-border;
$body-bg:                       #F5F5F5;
$text-default:                  $text;
$footer-bg:                     $dark-brown;

$chip-choice-active-bg:         $text;
$chip-choice-default-bg:        $grey-border;
$chip-choice-text-default:      $text;
$chip-choice-text-active:       $body-bg;

$btn-default-bg:                $darker-brown;
$btn-default-text:              $grey-border;
$btn-default-border:            $darker-brown;

$btn-default-hover-text:        $grey-border;
$btn-default-hover-bg:          $dark-brown;
$btn-default-hover-border:      $dark-brown;

$btn-outline-bg:                $white;
$btn-outline-text:              $darker-brown;
$btn-outline-border:            $darker-brown;

$btn-outline-hover-bg:          $dark-brown;
$btn-outline-hover-text:        $grey-border;
$btn-outline-hover-border:      $dark-brown;
