.map {
    margin: 0 auto;
    max-width: 1200px;
    height: 500px;
    background-color: rgb(197, 194, 190);
    margin-bottom: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}